build/
*/build/
**/build/
*.apk
*.aab
*.jar
!gradle/wrapper/gradle-wrapper.jar
!**/gradle/wrapper/gradle-wrapper.jar

.gradle/
**/.gradle/

local.properties
.idea/
*.iml
.vscode/

api/data/
**/data/*.mv.db
**/data/*.trace.db

.DS_Store
Thumbs.db
.tools/

*.png
*.jpg
*.jpeg
ui.xml
u.xml
!**/src/main/res/**

*.log
*.err
